 
.portfolio-body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(63, 95, 95);
    display: flex;
    justify-content: center;
    background-image:url(../../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position:absolute;
    top: 0;
    z-index: -100;
}


.portfolio-Roster{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 14em;
}