.profile-body{
    height: 84vh;
    width: 100vw;
    background-color: aqua;

    display: flex;
    justify-content: center;
    color: black;
    padding: 4em;
}

.div-photo img{
    width: 14em;
}