@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Young+Serif&display=swap');




.appointments-body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -100;
}


.appointments-Roster {
    height: 84vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 14em;

}


.pagination-appointments {
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 7em;
}

.create-appointment-button {
    width: 6em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    font-family: 'Cinzel', serif;
}

.create-appointment-button:hover {
    background-position: right center;
    background-size: 200% auto;
    -moz-animation: pulse512 1.5s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 rgba(5, 186, 218, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(218, 103, 68, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(218, 103, 68, 0);
    }
}