.appointments-body{
    height: 84vh;
    width: 100vw;
    background-color: rgb(0, 238, 255);

    display: flex;
    justify-content: center; 
    flex-direction: column; 
}


.appointments-Roster{
    height: 84vh;
    width: 100vw; 

    display: flex; 
    flex-direction: column;
    align-items: center; 
 
}

.create-appointment-button{
    width: 5em;
    height: 2em;
    background-color: rgb(235, 129, 0);
    border: 0.2em solid black;
    border-radius: 0.7em;
    color: black; 
}
 