.appointments-body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(63, 95, 95);
    display: flex;
    justify-content: center;
    background-image:url(../../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    top: 7em;
    z-index: -100;
}


.appointments-Roster{
    height: 84vh;
    width: 100vw; 

    display: flex; 
    flex-direction: column;
    align-items: center; 
 
}

.create-appointment-button{
    width: 5em;
    height: 2em;
    background-color: rgb(235, 129, 0);
    border: 0.2em solid black;
    border-radius: 0.7em;
    color: black; 
}
 