@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Young+Serif&display=swap');

.appointment-body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(63, 95, 95);

    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.input-card-create {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    width: 18em;
    height: 24em;
    border-radius: 2em;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
      -15px -15px 30px rgb(60, 60, 60);
  }
  
  
  .inputs-create-container {
    margin-top: 1em; 
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .title-create {
    font-size: 1em;
    color: white;
    z-index: 100;
    position: relative; 
    font-family: 'Cinzel', serif; 
    margin-top: 1em; 
  }

  .shift-create,
  .create-date, 
  select { 
    
     text-align: center;
    margin-top:1em ;
    background: rgb(46, 45, 45);
    border: none;
    outline: none;
    width: 15em; 
    height: 2.3em;
    font-size: 16px;
    border-radius: 0.8em;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #ffffff;
  }