.appointment-body{
    height: 84vh;
    width: 100vw;
    background-color: rgb(63, 95, 95);

    display: flex;
    justify-content: center;
}

.input-card{
    display: flex;
    justify-content: center;
align-items: center;
}